extends ../layout/index

block contenido
    .min-h-screen.flex.items-center.justify-center
        .container.mx-auto.p-8.max-w-md
            h1.text-4xl.my-10.font-extrabold.text-center.text-darkCyan Bienes
                span.font-normal.text-customBlack Raíces
            h2.text-center.text-2xl.font-extrabold.text-black.mb-5= pagina   

            if errores
                    div(class="max-w-md mx-auto my-5 errores-container items-container")
                        each error in errores
                            div.flex.items-center.bg-red-600.text-customWhite.uppercase.text-xs.text-center.p-3.mb-3.font-bold.rounded-lg.shadow-lg.transition-opacity.opacity-100
                                img(src="/img/advertencia.png" alt="Advertencia" class="w-6 h-6 mr-2")
                                p= error.msg
            .bg-customWhite.py-8.px-4.shadow-xl.rounded-lg
                form.space-y-5(method="POST" novalidate)
                    input(type="hidden" name="_csrf" value=csrfToken)

                    div 
                        label.block.text-sm.uppercase.text-midnightGreen.mb-2.font-bold(for="new_password") Ingresa tu nueva contraseña
                        input#new_password.w-full.px-3.py-2.border.border-midnightGreen.rounded-md.placeholder-gray-400(placeholder="Mínimo 8 carácteres" type="password" name="new_password")  
                    div 
                        label.block.text-sm.uppercase.text-midnightGreen.mb-2.font-bold(for="confirm_new_password") Ingresa tu nueva contraseña
                        input#confirm_new_password.w-full.px-3.py-2.border.border-midnightGreen.rounded-md.placeholder-gray-400(placeholder="Deberá coincidir con la anterior" type="password" name="confirm_new_password")  
                    
                
                    input(class="w-full bg-cerulean hover:bg-midnightGreen text-customWhite font-bold py-3 cursor-pointer mt-5 rounded-lg" type="submit" value="Actualiza Contraseña")
